// Sheet of project colors
$orange: #F37021;
$blue: #128fdd;
$background-grey: #e2e2e2;
$text-grey: #86888B;
$text-med-grey: #ABABAB;
$text-light-grey: #C3C4C5;
$text-black: #3f3f40;
$circle-grey: #e5e5e5;
$dark-grey: #9a9a9a;
$placeholder: #FAFAFA;
$almost-black: #313132;
$small-text-grey: #717375;
$markets-green: #417505;
$markets-red: #D80A0A;
$artichoke-green: #499324;
